<% if (!contact) { %>
<div class="alert alert-danger" role="alert">
  Data tidak tersedia <br> <a href="/contact" class="alert-link">&laquo; kembali ke daftar contact</a>
</div>
<% }else{ %>
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><%= contact.nama %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= contact.nohp %></h6>
    <p class="card-text"><%= contact.email %></p>
    <a href="/contact/update/<%= contact.nama %>" class="btn btn-info badge">ubah</a>
    <a href="/contact/delete/<%= contact.nama %>" class="btn btn-danger badge" onclick="return confirm('yakin?')">hapus</a>
    <a href="/contact" class="card-link d-block mt-3">&laquo; kembali ke daftar contact</a>
  </div>
</div>
<% } %>
